@import './constants';
@import './variables';

.make_post_home {
  border: $border;
  width: 100%;
  padding: 12px 12px;
  // margin: auto;
}

.heading__primary__post {
  margin-bottom: 12px;
  font-size: 28px;
  color: $b-color;
}

.make_post_home input {
  width: 50%;
  display: block;
  padding: 5px 5px;
  // background-color: red;
  font-weight: bold;
}

.post__btn {
  font-weight: bold;
  @include button;
  color: var(--b-color);
  border: 2px solid var(--b-color);
  margin-top: 12px;
  border-radius: 15px;
}
.post__btn:hover {
  color: whitesmoke;
}

.file__input {
  font-weight: bolder;
  width: 100%;
  @include input;
  color: var(--text-color);
}

#browse::file-selector-button {
  // display: none;
}
